body {
	font-family:'Dosis', sans-serif;
}

.vilnius-div {
	position: relative;
	 top: 100px;
	 left: 190px;
}

.vilnius-div h1 {
	position: relative;
	font-size: 62px;
}

ul, li {
    display: inline;
	box-sizing: 
}

.menu li {
	position: relative;
    margin-right: 30px;
}

p {
	position: relative;
	margin-top: 25px;
	margin-left: -110px;
	letter-spacing: 2.5px;
}

#images {
	
}

#map {
	    position: relative;
        height: 620px;
        width: 45%;
		float: right;
		margin-top: -550px;
		margin-bottom: 50px;
		margin-right: 30px;
}

@charset "utf-8"
		 
article,aside,figure,footer,header, hgroup, menu, nav, section{
     display: block;
}

#images ul{
	position: relative;
	list-style-type: none;
}
#images li{
	position: relative;
	width: 175px;
	display: block;
	margin-right: 50px;
	margin-bottom: 50px;
	left: -150px;
	
} 
img{
    width: 200px;
	height: 150px;
}